services:
  mysql:
    image: mariadb:latest
    container_name: mysql-user
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user
      MYSQL_USER: userService
      MYSQL_PASSWORD: pwmUser5921
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      timeout: 20s
      retries: 10
      interval: 10s
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  user-service:
    image: pwm-user-service:latest
    container_name: pwm-user-service
    ports:
      - "8080:8080"
    environment:
      DB_HOST: mysql
      DB_USERNAME: userService
      DB_PASSWORD: pwmUser5921
      SPRING_DATASOURCE_URL: jdbc:mariadb://mysql:3306/user?createDatabaseIfNotExist=true
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data:
